body {
  background: rgba(0, 0, 0, 0.1);
}

.board {
  width: fit-content;
  background: white;
  margin: auto;

  &-final {
    height: 50px;
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;

    &-circle {

    }
  }

  &-tipping {
    height: auto;

    .active:hover {
      cursor: pointer;
    }

    &-set {
      text-align: center;
      border: 2px solid black;
      color: black;

      &:hover {
        cursor: pointer;
        background: black;
        color: white;
      }
    }

    &-block {
      &-circle {
        &-answer {
        }
      }
    }
  }

  &-choosing {
    height: auto;
    margin-top: 20px;

    &-circle {
      &:hover {
        cursor: pointer;
      }
    }

    &-text {
      text-transform: uppercase;
      text-align: center;
      text-shadow: 2px 1px 0 white;
    }
  }
}

.circle.board-tipping-block-circle-answer {
  width: 10px;
  height: 10px;
  position: relative;
  top: -12px;
  margin: 2px;
}

$colors-list: green lightblue pink black brown yellow red white gray violet orange;
@each $color in $colors-list {
  .#{$color} {
    background: $color!important;
  }
}

.start {
  display: block;
  width: fit-content;
  margin: 20px auto auto;

  &-title {
    color: black;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
  }

  &-button {
    border: 2px solid black;
    border-radius: 4px;
    text-align: center;
    transition: background 0.3s linear;
    padding: 3px;

    &:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.circle {
  border-radius: 20px;
  border: 2px solid black;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 5px;
}

.passive {
  opacity: 0.5;
}

.hide {
  display: none !important;
}

.exactly {
  background: black !important;
}

.something {
  background: pink !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}
